body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-container{
  margin-top: 15%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.form-lk-container{
  /*margin-top: 15%;*/
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.form-horizontal {
  width: 35%;
}

.center_text {
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
  width: 450px; /* Ширина блока */
  height: 450px; /* Высота блока */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px;
}
