@import '_parts/font.scss';

html {
  font-size: 14px;
  line-height: 14px;
}

img {
  max-width: 100%;
}

/* main-style content */
.title-page {
  font-size: 2.25rem;
  font-family: "Lato", sans-serif;
  color: rgb(33, 33, 33);
  line-height: 2.8rem;
  margin: 2em 0 1em;
}

p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(114, 114, 114);
  line-height: 1.4rem;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

@import "_parts/header.scss";
@import "_parts/search_form.scss";

.main-content {
  width: 100%;
  position: relative;
  z-index: 20;
  &:after {
    background-image: url(../../public/wp-content/themes/VP3/img/triangle-white.png);
    content: '';
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 260px;
    bottom: -259px;
    z-index: 5;
  }
}

.content-wrapper {
  max-width: 1140px;
  padding: 10px 20px 0;
  margin: 0 auto;
  display: flex;
}

.content {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(114, 114, 114);
  line-height: 1.4rem;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: -10px;
  z-index: 10;

  ul,
  ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 10px;
    }
  }
  p {
    margin:0 0 30px 0;
  }
}

li {
  margin-bottom: 25px;
}

@import "_parts/list_posts.scss";
@import "_parts/article-page.scss";
/* main-style post*/
.post-date {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(0, 151, 167);
  font-weight: bold;
  line-height: 1.5rem;
  text-decoration: none;
  margin-bottom: 5px;
}

.btn-read-post {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(0, 151, 167);
  font-weight: bold;
  line-height: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &focus {
    text-decoration: underline;
  }
}

@import "_parts/sidebar.scss";
@import "_parts/pagination.scss";
@import "_parts/footer.scss";
@import "_parts/wp_style.scss";